
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<section>
		<main role="main" class="container">
			<div class="row" style="margin-bottom: -100px;"></div>
			<form th:action="@{news/add}" method="post">
				<div class="form-group">
					<label for="headline">Headline</label> <input name="headline"
						type="text" class="form-control" id="exampleInputPassword1">
				</div>
				<div class="form-group">
					<label for="Discription">Discription</label> <input
						name="discription" type="text" class="form-control"
						id="Discription">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</main>
		<!-- container -->
	</section>
	<div th:replace="fragments/header :: js">&nbsp;</div>
</body>
</html>






