<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<section>
		<main role="main" class="container">

			<div class="row">
				<div class="col-md-12 col-lg-8">
					<h4 class="p-title">
						<b>RECENT NEWS</b>
					</h4>
					<div class="row">
						<div data-th-each="news : ${newses}">
							<div class="col-sm-6">
								<img th:src="@{/images/news/}+${news.id}+'.png'" class="img-responsive center-block" />
								<h4 class="pt-20">
									<a href="#"><b><span th:text="${news.headline}" /> <br />
									</b></a>
								</h4>
								<p>
									<span th:text="${news.discription}" />
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->
		</main>
		<!-- container -->
	</section>




	<div th:replace="fragments/header :: js">&nbsp;</div>

</body>
</html>