<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<section>
		<main role="main" class="container">
			<form th:action="@{/login}" th:obejct="${user}" method="post">
				<div class="form-group">
					<span style="color: red; float: left;" th:if="${usernameNotFound}">Username
						Not Found</span> <input name="username" required="required" type="text"
						class="form-control" id="username" placeholder="Username">
				</div>
				<div class="form-group">
					<input name="password" required="required" type="password" class="form-control"
						id="password" placeholder="Password">
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="remeberMe">Remeber me</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</main>
		<!-- container -->
	</section>
	<div th:replace="fragments/header :: js">&nbsp;</div>
</body>
</html>






