<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<section>
		<main role="main" class="container">
			<form th:action="@{/dologin}" method="post">
				<div class="form-group">
					<span style="focolor: red; float: left; font-size: 20px;"
						th:if="${error}">Bad Credential.</span>
				</div>

				<div class="form-group">
					<input type="text" name="username" required="required"
						class="form-control" id="username" placeholder="Username" />
				</div>
				<div class="form-group">
					<input type="password" name="password" required="required"
						class="form-control" id="password" placeholder="Password" />
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1" />
					<label class="form-check-label" for="remeberMe">Remeber me</label>
				</div>
				<input type="submit" class="btn btn-primary" value="Sign in" />
			</form>
		</main>
		<!-- container -->
	</section>
	<div th:replace="fragments/header :: js">&nbsp;</div>
</body>
</html>






